apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${APP_NAME}-mysql-data
  namespace: ${NAMESPACE}
  labels:
    app: ${APP_NAME}
    project: cco-sandbox
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
